@page "/regions"


<PageTitle>Области и районы</PageTitle>


@if (regions == null | districts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>Области</p>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Область</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var region in regions)
            {
                <tr>
                    <td>@region.Id</td>
                    <td>@region.RegionName</td>
                </tr>
            }
        </tbody>
    </table>

    <p>Районы</p>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Область</th>
                <th>Район</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var district in districts)
            {
                <tr>
                    <td>@district.Id</td>
                    <td>@district.Region.RegionName</td>
                    <td>@district.DistrictName</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Region> regions;
    private List<District> districts;


    protected override async Task OnInitializedAsync()
    {
        regions = await db.Regions.GetAll().ToListAsync();
        districts = await db.Districts.GetAll().Include(d => d.Region).ToListAsync();
    }
}
