@inject NavigationManager NavigationManager
@inject UserService UserService

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            @* ! НЕ РАБОТАЕТ! При если пользователь не утвержден администратором - перенаправляем его с любых страниц на страницу данных пользователя*@
                @*@if (!UserService.IsCurrentUserAproved()) NavigationManager.NavigateTo("userinfo");*@
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Не найдено</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Запрошенная страница не найдена</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>


@code{

    protected override async Task OnInitializedAsync() 
    {  //При открытии любой страницы проверяем, убедимся, что пользователь есть в БД
        await UserService.EnsureUserCreated();
    }
}