@page "/reportrequestslist"
@inject AssignmentService AssignmentService
@inject NotificationService NotificationService
@inject SettingsService SettingsService

@*
    Что здесь должно быть:
    Эт страница, типа управления назначенными отчетами.
    Показываю датагрид с запросами отчетов. В нем будут: 
        - Дата назначения
        - Заготовок отчета
        - Срок отчета, истёк или нет.
        - Скольким пользователям назначен и солько из них выполнили назначение.
        - По расписанию отчет или нет, можно выключить расписание, тогда оно автоматически создаваться не будет.

        - Детали выбранного отчета
        - Изменение расписания и назначения пользователей

        -- Вывод агрегирующего отчета


*@
<PageTitle>Сбор отчетов</PageTitle>
<h3>Прогресс сбора отчетов</h3>

<RadzenDataGrid TItem="ReportAssignmentGroup" AllowPaging="true" Data="@list">
    <Columns>
        <RadzenDataGridColumn TItem="ReportAssignmentGroup" Property="DateAssigned" Title="Назначен"/>
        <RadzenDataGridColumn TItem="ReportAssignmentGroup" Title="Тип запроса">
            <Template Context="data">
                @data.GetRequestTypeName()
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="ReportAssignmentGroup" Title="Заголовок">
            <Template Context="data">
                @data.GetReportRequest().RequestTitle
            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="ReportAssignmentGroup" Title="Расписание" >
            <Template Context="data">
                @{
                    if (data.GetReportRequest().IsSchedulledRequest)
                    {
                        var scheduleText = data.GetReportRequest().WhenToCollect();
                        <RadzenButton Text="@scheduleText"/>
                    }
                    else
                    {
                        <p>Не задано</p>
                    }
                }
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="ReportAssignmentGroup" Title="Прогресс сбора">
            <Template Context="data">
                @{
                    var a = data.Assignments.Count;
                    <RadzenProgressBar Max="@a" ShowValue="false"  Value="@data.Assignments.Count(asn => asn.IsCompleted)"/>
                }
                
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

@code {

    IEnumerable<ReportAssignmentGroup> list;

    private ReportRequestBase request(ReportAssignmentGroup asnGroup) => asnGroup.GetReportRequest();

    protected override void OnInitialized()
    {
        list = AssignmentService.GetAssignmentGroups();
    }
}
